@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Roboto+Condensed:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
}

.board-wrapper {
    
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 4px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.field {
    width: 98px;
    height: 98px;
    background: white;
    border-radius: 2px;
}

.plain {
    background: #ADC178;
}

.dog {
    width: 98px;
    height: 98px;
    background: #005F73;
    border-radius: 10px;
    color: white;
}

.field2 {
    width: 112px;
    height: 112px;
    background: #E9D8A6;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.board2 {
    width: 500px;
    display:flex;
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 4px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.cat {
    width: 98px;
    height: 98px;
    background: #CA6702;
    border-radius: 10px;
    color: white;
}

.bird {
    width: 98px;
    height: 98px;
    background: #DDE5B6;
    border-radius: 16px;
}

.empty {
    width: 98px;
    height: 98px;
    background: transparent;
    border-radius: 2px;
}

.field-board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 4px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    width: 1016px;
    height: 608px;
}

.unit-board {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 4px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    width: 1016px;
    height: 608px;
}

.selected {
    border: 4px solid #9B2226;
    box-sizing: content-box;
}

.over {
    transition: all 0.1s;
    border: 3px dashed black;
}

.over-cat {
    transition: all 0.1s;
    border: 3px dashed #CA6702;
}

.over-dog {
    transition: all 0.1s;
    border: 3px dashed #005F73;
}






@keyframes selectedBorder {
    0% {border: 4px solid rgba(255, 255, 255, .2);}
    50% {border: 4px solid rgba(255, 255, 255, 1);}
    100% {border: 4px solid rgba(255, 255, 255, .2);}
  }

/* units styling */

.unit-name {
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.unit-stats {
    text-align: center;
    font-size: 1.5em;
    margin: 15px;
    padding: 0;
}

.fightStyle {
    
}

.fighting {
    position: relative;
    z-index: 100 !important;
    transform: scale(3);
    margin: 7em;
}

.fightMask {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: white;
}

.transparent {
    opacity: 0;
}

.white {
    background: white;
    pointer-events: none;
    position: absolute;
}

.dying {
    animation: dying 3s ease-in-out 1;
}

@keyframes dying {
    0% {opacity: 1; background: #9B2226;}
    100% {opacity: 0; background: black; transform: scale(0.1);}
  }