* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Roboto+Condensed:wght@400;700&display=swap');

.unit-title {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
}

.unit-attributes {
    font-size: 1.2em;
}

.unit-text-color {
    color: white;
}

/* Fields */

.field-board-wrapper {
    width: 900px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.field {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plain {
    background: #a7c957;
}

.woods {
    background: #6A994E;
}

.river {
    background: #006D77;
}

/* Units */

.unit {
    width: 92px;
    height: 92px;
    border-radius: 6px;
    padding: 6px 6px 6px 10px;
    margin: 2px;
    box-shadow: 2px 2px 6px gray;
}

.lifes-squeres-wrapper {
    margin: 6px 0 0 0;
}

.life-squere {
    width: 15px;
    height: 15px;
    background: white;
    margin: 2px;
    display: inline-block;
}

.dog {
    background: #355070;
}

.cat {
    background: #6D597A;
}

.turtle {
    background: #EAAC8B;
}

.bird {
    background: #B56576;
}